absl-py==0.2.1
appdirs==1.4.3
audioread==2.1.6
btrfsutil==1.0.0
certifi==2018.4.16
cffi==1.11.5
cycler==0.10.0
decorator==4.3.0
-e git+git@github.com:DeepSpectrum/DeepSpectrum.git@86a062707099d200549268afe188625a3933df31#egg=deep_spectrum_extractor&subdirectory=deep-spectrum
gufw==18.4.0
imread==0.6.1
joblib==0.11
kiwisolver==1.0.1
librosa==0.6.1
lightdm-gtk-greeter-settings==1.2.2
llvmlite==0.23.0
louis==3.5.0
matplotlib==2.2.2
numba==0.38.0
numpy==1.14.3
opencv-python==3.4.1.15
packaging==17.1
pew==1.1.5
pipenv==2018.5.18
protobuf==3.5.2
pycparser==2.18
pycuda==2017.1.1
pygobject==3.28.2
pyparsing==2.2.0
PySoundFile==0.9.0.post1
python-dateutil==2.7.3
pytools==2018.4
pytz==2018.4
resampy==0.2.0
scikit-learn==0.19.1
scipy==1.1.0
sftpman==1.1.1
sftpman-gtk==1.0.2
six==1.11.0
team==1.0
tensorflow==1.8.0
tqdm==4.23.4
virtualenv==15.1.0
virtualenv-clone==0.3.0
