[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
pandas = "*"
tfplot = {git = "https://github.com/wookayin/tensorflow-plot.git"}

[dev-packages]

[requires]
python_version = "3.7"
